*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100px;
    background-color: white;
    padding: 10px 0 10px 40px;
}

main{
    width: 60%;
    margin: 50px auto 100px auto;
}


header img{
    height: 80px;
    vertical-align: middle;
}

header h1{
    font-size: 65px;
    display: inline-block;
    vertical-align: middle;
}

nav{
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px 7px 0 0;
    border-bottom: 2px solid #F6F8F9;
}

.buttons_container{
    width: 90%;
    margin: auto;
    padding: 20px 0 16px 0;
}

.bttn{
    vertical-align: middle;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}

.task_bttn{
    background-color: #38AAFF;
    border: none;
}

.section_bttn{
    background-color: rgb(255, 255, 255);
    border: 1px solid #bdc1c3;
}

section{
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 7px 7px ;
}

#section_container{
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

.section_div{
    margin-bottom: 30px;
}

.section_div h3{
    color: #434851;
    font-size: 25px;
}

.section_div div{
    margin-top: 25px;
    font-size: 20px;
    color: #59595b;
}

.section_div h3::before{
    content: "\2714";
    color: #434851;
    margin-right: 10px;
}

.generic_row::before{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}

.check_row::before{
    content: "\2713";
    color: #76DAC9;
    border:2px solid #76DAC9;
}

.cross_row::before{
    content: "\2715";
    color: #FA2607;
    border:2px solid #FA2607;
}

.span_type{
    color: white;
    font-size: 14px;
    border-radius: 20px;
    padding: 5px;
}

.editorial{
    background-color: #34A9ED;
}

.q1_goals{
    background-color: #AB5DE6;
}

.recruiting{
    background-color: #2CC6AB;
}

.mobile{
    background-color: #FA9B00;
}

.website{
    background-color: #EC4A9D;
}

.sales{
    background-color: #A3D114;
}

/*  #38AAFF  background
    #76DAC9  check  2713   2714  bold check mark   
    #FA2607  cross  2715
*/