*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #38AAFF;
}

header{
    height: 100px;
    background-color: azure;
    padding: 10px 0 10px 40px;
}

main{
    width: 60%;
    margin: 50px auto 100px auto;
}


header img{
    height: 80px;
    vertical-align: middle;
}

header h1{
    font-size: 65px;
    display: inline-block;
    vertical-align: middle;
}

nav{
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px 7px 0 0;
    border-bottom: 2px solid #F6F8F9;

}

.buttons_container{
    margin-left: 50px;
}

.buttons_container div{
    border-radius: 5px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 7px;
    margin-top: 20px;
}

#button_one{
    background-color: #38AAFF;
    border-color: #38AAFF;
}

.button_span{
    vertical-align: middle;
}

#button_two{
    background-color: rgb(255, 255, 255);
    border: 1px solid #bdc1c3;
}



section{
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 7px 7px ;
}




/*  #38AAFF  background
    #76DAC9  check  2713   2714  bold check mark   
    #FA2607  cross  2715
*/